*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(13, 25, 43);
    font-size: 18px;
}

.embody{
    border-radius: 6px;
}

.container{
    width: 250px;
    background-color: rgb(20, 37, 61);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px -1px 14px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 14px -3px rgba(0,0,0,0.75);
}

h4{
    color: #fff;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4:hover{
    color: rgb(0, 255, 247);
    cursor: pointer;
}

.cube{
    width: 100%;
    border-radius: 6px;
}

.cube:hover{
    background-image: url(images/icon-view.svg);
    overflow: visible;
    cursor: pointer;
}

p{
    color:rgb(139, 172, 218);
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 1rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 1rem;
}


hr{
    color: rgb(47, 65, 91);
    margin-bottom: 1rem;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    gap: 0.7rem;
    font-weight: 300;
}

/* .view{
    display: none;
    margin-left: -62%;
    margin-bottom: 6rem;
} */

.gem{
    width: 6px;
}

.eth{
    color:rgb(0, 255, 247);
}

.days{
    color:rgb(139, 172, 218);
}

.clock{
    width: 9px;
}

.p-img{
    border-radius: 50px;
    margin-right: 0.7rem;
    width: 10%;
    border: 1px solid rgb(255, 255, 255);
}

.create{
    color:rgb(139, 172, 218);
    margin-right: 0.2rem;
}

.p-content{
    display: flex;
    align-items: center;
}

.wsec{
    color: #fff;
}

.wsec:hover{
    color: rgb(0, 255, 247);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container{
        width: fit-content;
        background-color: rgb(20, 37, 61);;
        border-radius: 6px;
        height: auto;
        padding: 1rem;
        margin: 2rem;
    }

    .cube{
        width: 100%;
        border-radius: 6px;
    }

    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Outfit', sans-serif;
        background-color: rgb(13, 25, 43);
    }

    .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 11px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
}